.wrapper{
    display: flex;
    flex-wrap: wrap ;
    flex-flow: row wrap;
} 
.wrapper > * {
    padding: 10px;
    flex: 1 100%;
}
header{
    background-color: tomato;
}
footer{
    background-color: lightgreen;
}
article{
    text-align: left;
    background-color: deepskyblue;
}
.aside-1{
 background-color: yellow;
 width: 25%;
}
.aside-2{
    background-color: pink;
    width: 25%;
}

@media all and (min-width: 800px){
    .wrapper{
        flex: 2 0px;
    }
    .aside-1{
        order: 1;
    }
    .main{
        order: 2;
    }
    .aside-2{
        order: 3;
    }
    footer{
        order: 4;
    }
}
